*{
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}

h1{
    font-size: 50px;
}

body{
    background-color: #13121a;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}

input[type=submit]{
    background-color: #4357ad;
    border: none;
    color: white;
    padding: 15px 10vh;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50vh;
    margin-top: 21px;
}

form{
    box-shadow: 0px 0px 10px #800080;
    border-radius: 1vh;
    padding: 30px;
    background-color: #171622;
} 

/* input[type=text]{
    border: none;
    border-bottom: 2px solid silver;
} */

label{
    font-family: monospace;
}



.input-container{
    width: 280px;
    position: relative;
}

.label{
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}

.labelSurname{
    position: absolute;
    left: 10px;
    top: 85px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}

.text-input{
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #382f26;
    background: #272530;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #fff;
}

.label::before{
    content: "";
    height: 5px;
    background-color: #272530;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.labelSurname::before{
    content: "";
    height: 5px;
    background-color: #272530;
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus{
    border: 2px solid #fd7f0a;
}

.text-input:focus+.label,.filled{
    top: -10px;
    color: #fd7f0a;
    font-size: 14px;
}

.text-input:focus+.labelSurname,.filled{
    top: 55px;
    color: #fd7f0a;
    font-size: 14px;
}

.text-input::placeholder{
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}

.text-input:focus::placeholder{
    opacity: 1;
    animation-delay: 0.2s;
}