*{
    color: white;
    text-align: center;
}

h1{
    font-size: 50px;
}

body{
    background-color: #040404;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
}

input[type=submit]{
    background-color: #4357ad;
    border: none;
    color: white;
    padding: 15px 10vh;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50vh;
}

form{
    box-shadow: 0px 0px 10px #2a2a2a;
    padding: 30px;
} 